# Norns deployment configuration
# Copy this to .env and adjust values as needed

NORNS_HOST=we@norns.local
NORNS_PASS=sleep
SSH_OPTS="-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
NORNS_PATH=~/dust/code/Foobar 